@import url('https://fonts.googleapis.com/css?family=Dokdo|Raleway');

body {
    max-width: 800px;
    margin: auto;
    background: #8eefd4;
}

h1, h2, h3, main, article, aside, p, section, div, nav{ 
    margin: 0;
    padding: 0;
}
.logo{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    text-decoration: none;
}

header nav ul {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

@media (min-width: 500px) {
    header nav {
        display: flex;
    }

    header nav ul {
        flex: 1;
    }
}

main .dogsimg {
    background-image: url(img/dogs-spa.jpg);
    background-size: cover;
    background-position: center;
    min-height: 450px;
    flex-basis: 100%
}

#about {
    margin: auto;
    padding: 20px;
}

#about h1 {
    text-align: center;
}

#about article {
    float: left
}



.doggie {
    width: 100px;
    display: inline-grid;

}

.doggie img {
    margin: auto 0px;
    float: left;
    width: 250px;
    height: auto;
    border-radius: 50%;

}

#about aside {
    float: right;
    text-align: right
}

#map {
            height: 300px;
            width: 100%;
        }

.poodle {
    width: 100px;
    display: flex;
}

.poodle img {
    margin: auto 0px;
    float: none;
    width: 100px;
    height: 200px;


}

#services {

    padding: 25px;
}
#services h2{
    text-align:center
}

table,
th,
td {
    border: 1px solid black;
    width:100%
}

footer {
    height: 70px;
    margin: 1px 1px 1px 1px;
}

#contactus {

    padding: 25px;
}

form {
     width: 100%;
    margin: 0 auto;
}
label, input {
    display: inline-block;
}
.award {
    width: 100px;
    display: flex;
}

.award img {
    margin: auto 0px;
    float: none;
    width: 100px;
    height: 50px;
}

.row {
  display: flex;
}

.socialmedia {
  flex: 33.33%;
  padding: 5px;
}
