@import url('https://fonts.googleapis.com/css?family=Dokdo|Raleway');

:root {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 1000px;
    margin: auto;
    background: #8eefd4;
}

h1,
h2,
h3,
p,
main,
article,
aside,
section,
footer,
div,
nav {
    margin: 0;
    padding: 0px;
}

.logo {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    text-decoration: none;
}

header nav ul {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}



main .dogsimg {
    background-image: url(img/dogs-spa.jpg);
    background-size: cover;
    background-position: center;
    min-height: 450px;
    flex-basis: 100%;
}

#about {
    margin: auto 0px;
    padding: 20px;
}

#about h1 {
    text-align: center;
    text-transform: uppercase;
}

#about article {
    margin: auto 0px;


}



.doggie {
    width: 100px;
    display: flex;

}

.doggie img {
    margin: auto 0px;
    float: left;
    width: 250px;
    height: auto;
    border-radius: 50%;

}



#about aside {
    float: left;
    text-align: left;
}

#map {
    height: 250px;
    width: 100%;
    float: left;
}


.poodle {
    width: 100%;
    float: left;
}

.poodle img {
    margin: auto 0px;
    float: none;
    width: 300px;
    padding: 20px;
    height: 400px;

}

.cutie {
    width: 100%;
    float: left;
}

.cutie img {
    margin: auto 0px;
    float: none;
    width: 300px;
    padding: 20px;
    height: 400px;

}

.lovely {
    width: 100%;
    float: left;
}

.lovely img {
    margin: auto 0px;
    float: none;
    width: 300px;
    padding: 20px;
    height: 400px;
}

.whitepuppy {
    width: 100%;
    float: left;
}

.whitepuppy img {
    margin: auto 0px;
    float: none;
    width: 300px;
    padding: 20px;
    height: 400px;
}

.dog {
    width: 100%;
    float: left;
}

.dog img {
    margin: auto 0px;
    float: none;
    width: 300px;
    padding: 20px;
    height: 400px;
}

.greypoodle {
    width: 100%;
    float: left;
}

.greypoodle img {
    margin: auto 0px;
    float: none;
    width: 300px;
    padding: 20px;
    height: 400px;
}


#services {
    margin: auto 0px;
    padding: 100px;
}

#services h2 {
    text-align: left;
    text-transform: uppercase;

}

table,
th,
td {

    border: 1px solid black;
    width: 80%;
    margin-left: -100px;
}


.get-in-touch {
    margin: auto 0px;
    display: block;
}


#contactus h3 {

    text-align: left;
    text-transform: uppercase;
}


.yourinfo {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.yourinfo label {
    width: 20em;
    margin-left: 1em;
    margin: 1px 2px 4px 0;
}

.yourinfo input {
    vertical-align: middle;
    margin: 1px 2px 4px 0;
    width: 20em;
    padding: 5px;
}

.yourinfo textarea {
    vertical-align: text-top;
    margin: 1px 2px 4px 0;
    width: 230px;
    height: 100px;
    padding: 25px;
}

.yourinfo input[type=submit] {
    align-self: start;
    margin-right: auto;
    width: 100px;
    height: 30px;
}

.youtube {
    margin-left: 0px;
    width: 60%;
    display: block;
}

iframe {
    width: 100% !important;
}

footer {
    padding-top: 20px;
    background-color: #8eccf2;
}

.socialmedia a img {
    width: 100%;
}

footer .row {
    display: flex;
    justify-content: space-around;
}

.copyright {
    text-align: center;
}

@media (min-width: 600px) {
    header nav {
        display: flex;
    }

    header nav ul {
        flex: 1;
    }
}

@media (min-width: 600px) {
    main #about {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
}
    @media (min-width:600px) {
        .groomingpictures {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    @media (min-width:600px) {
        .dog {
            width: 100%;
            float: left;
            display: block;
        }
        .doggie img {
            margin: auto 0px;
            float: left;
            width: 450px;
            height: auto;
            border-radius: 50%;
        }
    }

    @media (min-width:600px) {
        #about aside {
            float: right;
            text-align: right
        }

        #map {
            height: 450px;
            width: 60%;
            float: right;
        }
    }

    @media (min-width: 600px) {
        main #services {
            margin: auto 0px;
            padding: 90px;
        }

        @media (min-width:600px) {
            #services h2 {
                text-align: center;
                text-transform: uppercase;

            }

            table,
            th,
            td {
                border: 1px solid black;
                margin: auto;
                width: 100%
            }

            @media (min-width:600px) {
                .get-in-touch {
                    margin: auto 0px;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }


                #contactus h3 {

                    text-align: center;
                    text-transform: uppercase;
                }


                .yourinfo {
                    display: flex;
                    flex-flow: column;
                    align-items: flex-end;
                }

                .yourinfo label {
                    width: 20em;
                    margin-right: 1em;
                    margin: 1px 2px 4px 0;
                }

                .yourinfo input {
                    vertical-align: middle;
                    margin: 1px 2px 4px 0;
                    width: 20em;
                    padding: 5px;
                }

                .yourinfo textarea {
                    vertical-align: text-top;
                    margin: 1px 2px 4px 0;
                    width: 230px;
                    height: 100px;
                    padding: 25px;
                }

                .yourinfo input[type=submit] {
                    display: flex;
                    align-self: flex-end;
                    vertical-align: middle;
                    margin: auto;
                    width: 100px;
                    height: 30px;
                }

                .youtube {
                    margin: auto;
                    width: 70%;
                    display: flex;
                    align-self: center;
                }

                iframe {
                    width: 100% !important;
                }
            }

            @media (min-width:600px) {
                footer {
                    padding-top: 20px;
                    background-color: #8eccf2;
                }

                .socialmedia a img {
                    width: 100%;
                }

                footer .row {
                    display: flex;
                    justify-content: space-around;
                }

                .copyright {
                    text-align: center;
                }
            }
