@import url('https://fonts.googleapis.com/css?family=Dokdo|Raleway');

:root {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 1200px;
    margin: auto;
    background: #8eefd4;
}

h1,
h2,
h3,
p,
main,
article,
aside,
section,
footer,
div,
nav {
    margin: 0;
    padding: 0px;
}

.logo {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    text-decoration: none;
}

header nav ul {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

@media (min-width: 600px) {
    header nav {
        display: flex;
    }

    header nav ul {
        flex: 1;
    }
}

main .dogsimg {
    background-image: url(img/dogs-spa.jpg);
    background-size: cover;
    background-position: center;
    min-height: 450px;
    flex-basis: 100%;
}

#about {
    margin: auto 0px;
    padding: 20px;
}

#about h1 {
    text-align: center;
    text-transform:uppercase;
}

#about article {
    margin: auto 0px;


}



.doggie {
    width: 100px;
    display: inline-grid;

}

.doggie img {
    margin: auto 0px;
    float: left;
    width: 450px;
    height: auto;
    border-radius: 50%;

}



#about aside {
    float: right;
    text-align: right
}

#map {
    height: 450px;
    width: 60%;
    float: right;
}

.groomingpictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.poodle {
    width: 100%;
    float: left;
}

.poodle img {
    margin: auto 0px;
    float: none;
    width: 300px;
    padding: 20px;
    height: 400px;

}

.cutie {
    width: 100%;
    float: left;
}

.cutie img {
    margin: auto 0px;
    float: none;
    width: 300px;
    padding: 20px;
    height: 400px;

}

.lovely {
    width: 100%;
    float: left;
}

.lovely img {
    margin: auto 0px;
    float: none;
    width: 300px;
    padding: 20px;
    height: 400px;
}

.whitepuppy {
    width: 100%;
    float: left;
}

.whitepuppy img {
    margin: auto 0px;
    float: none;
    width: 300px;
    padding: 20px;
    height: 400px;
}

.dog {
    width: 100%;
    float: left;
}

.dog img {
    margin: auto 0px;
    float: none;
    width: 300px;
    padding: 20px;
    height: 400px;
}

.greypoodle {
    width: 100%;
    float: left;
}

.greypoodle img {
    margin: auto 0px;
    float: none;
    width: 300px;
    padding: 20px;
    height: 400px;
}

@media (min-width: 600px) {
    main #about {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }



    #services {
        margin: auto 0px;
        padding: 90px;
    }

    #services h2 {
        text-align: center;
        text-transform: uppercase;
    }

    table,
    th,
    td {
        border: 1px solid black;
        width: 100%
    }

    @media (min-width: 600px) {
        main #services {
            display: grid;
            grid-template-columns: 1fr;
        }
    }

    .get-in-touch {
        margin: auto 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    #contactus h3 {

        text-align: center;
        text-transform:uppercase;
    }


    .yourinfo {
        display: flex;
        flex-flow: column;
        align-items: flex-end;
    }

    .yourinfo label {
        align-items: right;
        width: 20em;
        margin-right: 1em;
        margin: 1px 2px 4px 0;
    }

    .yourinfo input {
        vertical-align: middle;
        margin: 1px 2px 4px 0;
        width: 20em;
        padding: 5px;
    }

    .yourinfo textarea {
        vertical-align: text-top;
        margin: 1px 2px 4px 0;
        width: 230px;
        height: 100px;
        padding: 25px;
    }

    .yourinfo input[type=submit] {
        display: flex;
        align-self: flex-end;
        vertical-align: middle;
        margin: auto;
        width: 100px;
        height: 30px;
    }

    .youtube {
        margin: auto;
        width: 70%;
        display: flex;
        align-self: center;
    }

    iframe {
        width: 100% !important;
    }


    @media (min-width: 600px) {
        main #contactus {
            display: grid;
            grid-template-columns: 1fr;
        }
    }


    footer {
        height: 130px;
        margin: 1px 1px 1px 1px;
        text-align: center;
        background: #cde8f7;
    }


    .row {
        display: flex;
    }

    .socialmedia {
        flex: 33.33%;
        padding: 25px;
    }


    @media (min-width: 600px) {
        footer {
            height: 130px;
            margin: 1px 1px 1px 1px;
            text-align: center;
            background: #cde8f7;
        }
    }